{% extends "base.html.twig" %}

{% block title %}Ferme Manager{% endblock %}

{% block content %}
{% if session %}
    <h1>Ferme Manager</h1>

    <section id="inventory">
        <h2>Inventaire</h2>

        {% for name, product in products %}
            <article id="product-{{ name }}">
                <h3><span class="icon"> {{ product.icon }} </span> {{ product.display }} </h3>
                <div>Stock : <output class="stock"></output></div>
            </article>
        {% endfor %}
    </section>

    <hr>

    <section id="buildings">
        <h2>Bâtiments</h2>

        <div>
            {% for name, building in buildings %}
                <article id="building-{{ name }}">
                    <h3> {{ building.display }} <br> (Niv. <output class="level">1</output>)</h3>

                    <button class="harvest">{{ building.action }} {{ building.production }}</button>

                    <button class="upgrade">
                        Améliorer <br>
                        Coût : <output class="cost">
                            1
                            {{ products[building.cost].icon }}
                        </output>
                    </button>
                </article>
            {% endfor %}
        </div>
    </section>

{% else %}
    <div class="error">Vous n'avez pas accès ! Veuillez vous <a href="/login">authentifier</a></div>
{% endif %}
{% endblock %}